.holder{
	width:50vw;
	height:50vh;
	background-color:blueviolet;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
}
#t1,#t2,#t3,#t4{
	width:33px;
	height:21px;
	margin:2px;
	background-color:yellow;
}
